<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/d669232c7f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <!-- Header  del sitio MercadoLiebre -->
    <header class="main-header">
      <div class="main-header-top-bar">
        <!-- logo-sitio -->
        <a href="/">
          <img
            class="logo"
            src="./images/logo-mercado-liebre.svg"
            alt="Logo home Mercadoliebre"
          />
        </a>
        <!-- barra-busqueda -->
        <div class="barra-busqueda">
          <input type="search" placeholder="Buscar productos" />
          <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <!-- copy-texto-compra -->
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar fa-xs"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>

      <!-- botón menú hamburguesa -->
      <a href="#" class="hamburger-button">
        <i class="fas fa-bars"></i>
      </a>

      <!-- barra-navegacion-principal -->
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li>
            <div>
              <a href="/register">Creá tu cuenta</a>
              <i class="fa-solid fa-id-card fa-sm"></i>
            </div>
          </li>
          <li>
            <div>
              <a href="/login">Ingresá</a>
              <i class="fa-solid fa-right-to-bracket fa-sm"></i>
            </div>
          </li>
          <li>
            <div>
              <a href="#">Mis compras</a>
              <i class="fa-solid fa-cart-shopping fa-sm"></i>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <main class="form-container">
      <form action="/login" method="POST" class="form-login">
        <h3>Ingresá a tu cuenta</h3>
        <div class="form-control">
          <input
            type="email"
            name="email"
            placeholder="Correo electrónico"
            id="email"
            required
            maxlength="50"
            class="form-control-boxes"
          />
        </div>

        <div class="form-control">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            maxlength="8"
            class="form-control-boxes"
          />
        </div>

        <div class="form-control">
          <div class="botonera-container">
            <a href="/">
              <button type="button" class="form-button">Iniciar Sesión</button>
            </a>
          </div>
        </div>
      </form>
    </main>

    <footer class="footer">
      <!-- Footer  de MercadoLiebre -->
      <div class="footer-box-1">
        <section class="pagos-envios-seguridad">
          <div class="icono-footer">
            <i class="fa-solid fa-credit-card"></i>
          </div>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <h5>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </h5>
        </section>
        <br />
        <section class="pagos-envios-seguridad">
          <div class="icono-footer"><i class="fa-solid fa-gift"></i></div>
          <h4>Envío gratis desde $ 2.500</h4>
          <h5>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </h5>
        </section>
        <br />
        <section class="pagos-envios-seguridad">
          <div class="icono-footer">
            <i class="fa-solid fa-user-shield"></i>
          </div>
          <h4>Seguridad, de principio a fin</h4>
          <h5>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </h5>
        </section>
      </div>
      <div class="footer-box-2">
        <section class="copyright">
          <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
      </div>
    </footer>
  </body>
</html>
