/* border: dotted 2px red; */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  background-color: #ebebeb;
  align-items: center;
}

/* -------------------- Header principal -------------------- */

.main-header {
  background-color: #eac926;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.main-header-top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 110px;
}

.barra-busqueda {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-busqueda input {
  width: 100%;
  height: 25px;
  border-radius: 6px;
  padding-left: 5px;
  border: 0px;
  outline: none;
  box-shadow: 2px 2px 10px;
}

.barra-busqueda a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  text-decoration: none;
}

.barra-busqueda i {
  background-color: #eac926;
  border-radius: 5px;
  color: #ffffff;
}

.copy-header {
  font-weight: bold;
  font-size: 14px;
  color: #03264c;
}

/* -------------------- Seccion hamburguesa -------------------- */

.hamburger-button {
  background-color: #03264c;
  color: #ffffff;
  display: block;
  max-width: 50px;
  padding: 8px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

/* -------------------- NavBar -------------------- */
.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #03264c;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.main-navbar div {
  color: #03264c;
}

.main-container {
  background-size: cover;
  background-color: #ebebeb;
  text-align: center;
  width: 100%;
  margin: 0;
}

/* -------------------- Main section -------------------- */

#header-banner img {
  width: 100%;
  margin-bottom: 15px;
}

.main-container {
  position: relative;
  top: 150px;
}

main section {
  border-radius: 5px;
  width: 90%;
  margin: auto;
  background-color: #ebebeb;
  padding-bottom: 20px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container h2 {
  color: #666;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: auto;
  padding-bottom: 10px;
}

article {
  margin: 20px auto;
  background-color: #ffffff;
  width: 90%;
  position: relative;
}

article img {
  width: 70%;
  display: block;
  margin: auto;
  object-fit: contain;
}

.camioncito {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: -15px;
  color: #39b54a;
  z-index: 9998;
}

#producto-precio {
  font-size: 18px;
  color: #666;
  font-weight: normal;
  padding-right: 5px;
}

#producto-descuento {
  font-size: 16px;
  color: #39b54a;
  font-weight: normal;
  padding-left: 5px;
}

#producto-descripcion {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  display: none;
}

.caja-precio-desc-descrip {
  border-top: 1px solid #ebebeb;
  background-color: white;
  text-align: left;
  margin: 20px auto;
  padding: 15px;
  position: relative;
}

.caja-precio-desc {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* #producto-precio {
  flex-grow: 0.7;
}

#producto-descuento {
  flex-grow: 0.3;
} */

/* -------------------- FOOTER -------------------- */

footer {
  background-color: #ebebeb;
  text-align: center;
  top: 180px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

.pagos-envios-seguridad h4 {
  color: #666;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
}

.pagos-envios-seguridad h5 {
  color: #666;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

.copyright {
  font-size: 12px;
  text-align: left;
  color: #666;
  margin-top: 50px;
}

/* -------------------- Animaciones -------------------- */

.barra-busqueda input:hover {
  background-color: #ebebeb;
}

.barra-busqueda i:hover {
  color: #0022aa;
}

.main-navbar li a:hover {
  color: #0022aa;
  font-weight: bold;
}

.main-navbar div:hover {
  color: #0022aa;
}

article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  border-radius: 10px;
}

.producto:hover #producto-descripcion {
  display: block;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.camioncito:hover {
  animation: rotate-center 2s 1;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.pagos-envios-seguridad div:hover i {
  color: #39b54a;
}

/* -------------------- Formularios -------------------- */

.form-container {
  top: 190px;
  position: relative;
  width: 90%;
  border: 2px solid white;
  border-radius: 6px;
  min-width: 300px;
  margin-bottom: 50px;
}

.form-register,
.form-login {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  margin: 5px;
  display: flex;
  justify-content: left;
}

.form-control h2 {
  font-weight: 400;
  font-size: 18px;
  margin-left: 1px;
}

.form-control-boxes {
  flex-basis: 100%;
  padding: 8px 8px;
}

.form-button {
  background-color: #03264c;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
}

.form-button:hover {
  background-color: #0022aa;
}

.form-botonera {
  flex-basis: 100%;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
}

.itemsPerfilDelUsuario {
  flex-basis: 100%;
  padding: 8px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemsIntereses {
  flex-basis: 100%;
  padding: 8px 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input:invalid:required {
  border: solid 2px red;
}

input:valid:required {
  background-color: white;
}

.form-login {
  background-color: ebebeb;
}

.botonera-container {
  width: 100%;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
}

/* Tablets */
@media (min-width: 769px) {
  .hamburger-button {
    display: none;
  }

  .main-header-top-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
  }

  .logo {
    flex-grow: 0.5;
    padding-right: 20px;
  }

  .barra-busqueda {
    flex-grow: 0.4;
  }

  #copy-header {
    flex-grow: 0.1;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 5px;
  }

  .main-container h2 {
    text-align: left;
    padding-left: 40px;
    padding-bottom: 10px;
  }

  article {
    max-width: 45%;
  }

  .main-productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .main-ofertas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /* .form-control {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  } */
}

/* Desktop */
@media (min-width: 1200px) {
  .logo {
    flex-grow: 0.3;
    padding-right: 20px;
  }

  .barra-busqueda {
    flex-grow: 0.2;
  }

  #copy-header {
    flex-grow: 0.5;
  }

  article {
    width: 20%;
    margin: auto;
  }
  .footer-box-1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
